<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1">
    <title>TIW119 - Account State</title>
    <link rel="stylesheet" type="text/css" href="../css/Global.css" th:href="@{/css/Global.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/AccountState.css" th:href="@{/css/AccountState.css}"/>
</head>
<body>
    <div th:replace="/WEB-INF/TopBar :: top-bar">
        Top bar placeholder
    </div>
    <h1>Account state page</h1>
    <p class="error" th:if="${generalError != null}" th:text=" ${generalError}">Error</p>
    <div class="table-container-account">
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User</th>
                    <th>Account ID</th>
                    <th>Account name</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${session.user.id}">1</td>
                    <td th:text="${session.user.name + ' ' + session.user.surname}">persona</td>
                    <td th:text="${account.ID}">1</td>
                    <td th:text="${account.name}">conto nome</td>
                    <td th:text="${account.balance}">9000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  th:if="${inmovements != null and not inmovements.isEmpty()}">
        <h4>Incoming movements: these are the instances where you received money</h4>
        <div class="table-container-movement">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Motive</th>
                        <th>Sender Account ID</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr  th:each="mov : ${inmovements}">
                        <td th:text="${#dates.format(mov.date, 'dd-MM-yyyy HH:mm:ss')}"> </td>
                        <td th:text="${mov.Amount}"></td>
                        <td th:text="${mov.Motive}"></td>
                        <td th:text="${mov.outAccountID}"></td>
                    </tr>
                    <tr>
                        <td> data molto data</td>
                        <td> 23423342423234</td>
                        <td> testo super lungo</td>
                        <td> 676678978989</td>
                    </tr>
                    <tr>
                        <td> data molto data</td>
                        <td> 23423342423234</td>
                        <td> testo super lungo</td>
                        <td> 676678978989</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 th:if="${inmovements == null or inmovements.isEmpty()}">No incoming movement available!</h2>
    
    <div th:if="${outmovements != null and not outmovements.isEmpty()}">
        <h4>Outgoing movements: these are the instances where you gave money</h4>
        <div class="table-container-movement">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Motive</th>
                        <th>Recipient Account ID</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr  th:each="mov : ${outmovements}">
                        <td th:text="${#dates.format(mov.date, 'dd-MM-yyyy HH:mm:ss')}"> </td>
                        <td th:text="${mov.Amount}"></td>
                        <td th:text="${mov.Motive}"></td>
                        <td th:text="${mov.inAccountID}"></td>
                    </tr>
                    <tr>
                        <td> data molto data</td>
                        <td> 23423342423234</td>
                        <td> testo super lungo</td>
                        <td> 676678978989</td>
                    </tr>
                    <tr>
                        <td> data molto data</td>
                        <td> 23423342423234</td>
                        <td> testo super lungo</td>
                        <td> 676678978989</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 th:if="${outmovements == null or outmovements.isEmpty()}">No outgoing movement available!</h2>
    
    <div class="form-container">
        <p>Select an account to send them some money!</Select></p>		
	    <form action="#" th:action="@{/RequestMovement}" method="POST">
            <label>User ID</label> 
            <input type="number" name="inuserid" required> <br>
            <label>Account ID</label> 
            <input type="number" name="inaccountid" required> <br>
            <label>Amount</label> 
            <input type="number" name="amount" required min="0" step="0.01"><br>
            <label>Motive</label> 
            <input type="text" name="motive" required><br>
            <input type="hidden" name="outaccountid" required th:value="${account.ID}">
            <input class="submit" type="submit" value="Request Movement"></fieldset>
	    </form>
    </div>
</body>
</html>