<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TIW119 - Account State</title>
</head>
<body>
    <h1>Home page</h1>
    <p th:text=" ${generalError}"></p>
    <p th:text="${'Here are the movements relative to ' + account.name + ' (ID ' + account.ID + ') with a balance of ' + account.balance}"></p>
    
    <div th:if="${inmovements != null and not inmovements.isEmpty()}">
        <p>Incoming movements: these are the instances where you received money</p>
        <table class="account-table" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Motive</th>
                    <th>Sender Account ID</th>
                </tr>
            </thead>
            <tbody>
                <tr  th:each="mov : ${inmovements}">
                    <td th:text="${mov.Date}"> </td>
                    <td th:text="${mov.Amount}"></td>
                    <td th:text="${mov.Motive}"></td>
                    <td th:text="${mov.outAccountID}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${inmovements == null or inmovements.isEmpty()}">No incoming movement available!</p>
    
    <div th:if="${outmovements != null and not outmovements.isEmpty()}">
        <p>Outgoing movements: these are the instances where you gave money</p>
        <table class="account-table" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Motive</th>
                    <th>Recipient Account ID</th>
                </tr>
            </thead>
            <tbody>
                <tr  th:each="mov : ${outmovements}">
                    <td th:text="${mov.Date}"> </td>
                    <td th:text="${mov.Amount}"></td>
                    <td th:text="${mov.Motive}"></td>
                    <td th:text="${mov.inAccountID}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${outmovements == null or outmovements.isEmpty()}">No outgoing movement available!</p>
    
	<form action="#" th:action="@{/RequestMovement}" method="POST">
        <p>Select an account to send them some money!</Select></p>
        <fieldset>		
            <p>User ID: <input type="number" name="inuserid" required> </p>
            <p>Account ID: <input type="number" name="inaccountid" required> </p>
            <p>Amount: <input type="number" name="amount" required min="0" step="0.01"> </p>
            <p>Motive: <input type="text" name="motive" required> </p>
            <input type="hidden" name="outaccountid" required th:value="${account.ID}">
            <input type="submit" value="Request Movement"></fieldset>
        </fieldset>		
	</form>
</body>
</html>