<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h1>Home page</h1>
    <p th:text="${'Welcome back ' + session.user.name + ' ' + session.user.surname}"></p>

	<table>
		<thead>
			<tr>
				<th>Destination</th>
				<th>Date</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="account : ${accounts}">
				<td th:text="${account.id}"></td>
				<td th:text="${account.name}"></td>
				<td th:text="${account.balance}"></td>
				<td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>