<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h1>Home page</h1>
    <p th:text="${'Welcome back ' + session.user.name + ' ' + session.user.surname}"></p>

    <div th:if="${accounts != null and not accounts.isEmpty()}">
        <table class="account-table" >
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>Account Name</th>
                    <th>Account Balance</th>
                    <th>Account status</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr  th:each="account : ${accounts}">
                    <td th:text="${account.id}"> </td>
                    <td th:text="${account.name}"></td>
                    <td th:text="${account.balance}"></td>
                    <td><a th:href="@{/AccountState(accountid=${account.ID})}">Account status</a></td>
                </tr>
                <tr>
                    <td> Conto esempio</td>
                    <td> name Conto esempio</td>
                    <td> 23789612369612386</td>
                    <td> lo stato</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${accounts == null or accounts.isEmpty()}">No accounts available! Create one with the form below.</p>

    
	<form action="#" th:action="@{/CreateAccount}" method="POST">
        <fieldset>		
            <p>Account Name: <input type="text" name="name" required> </p>
            <p>Balance: <input type="number" name="balance" required> </p>
            <input type="submit" value="Create Account"></fieldset>
            <p th:text=" ${accountError}"></p>
        </fieldset>		
	</form>
</body>
</html>