<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1">
    <title>TIW 119 - Movement Success</title>
    <link rel="stylesheet" type="text/css" href="../css/Global.css" th:href="@{/css/Global.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/MovementSuccess.css" th:href="@{/css/MovementSuccess.css}"/>
</head>
<body>
    <div th:replace="/WEB-INF/TopBar :: top-bar">
        Top bar placeholder
    </div>
    <div>
        <h1>
            The movement from <span th:text="${outAccount.ID}"></span> to <span th:text="${inAccount.ID}"></span> was succesful!
        </h1>
        Date of the movement: <span th:text="${#dates.format(movement.date, 'dd-MM-yyyy HH:mm:ss')}">10-10-1010</span><br>
        <h1>
            Your Account <span th:text="${'(ID ' + outAccount.ID + ')'}">1</span>
        </h1>
        <div class="table-container">
            <table class="success-table" >
                <tbody>
                    <tr>
                        <td> Old balance</td>
                        <td th:text="${outAccount.balance + movement.amount}">1000</td>
                    </tr>
                    <tr>
                        <td> Amount removed</td>
                        <td th:text="${movement.amount}">100</td>
                    </tr>
                    <tr>
                        <td> New balance</td>
                        <td th:text="${outAccount.balance}">900</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>
            Destination Account <span th:text="${'(ID ' + inAccount.ID + ')'}">2</span>
        </h1>
        <div class="table-container">
            <table class="success-table" >
                <tbody>
                    <tr>
                        <td> Old balance</td>
                        <td th:text="${inAccount.balance - movement.amount}">1000</td>
                    </tr>
                    <tr>
                        <td> Amount added</td>
                        <td th:text="${movement.amount}">100</td>
                    </tr>
                    <tr>
                        <td> New balance</td>
                        <td th:text="${inAccount.balance}">900</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>