<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1">
    <title>TIW 119 - Top Header</title>
    <link rel="stylesheet" type="text/css" href="../css/Global.css" th:href="@{/css/Global.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/TopBar.css" th:href="@{/css/TopBar.css}"/>
</head>
<body>
    <ul class="top-bar" th:fragment="top-bar">
        <li class="back" th:if="${backPath != null}"><a th:href="@{${backPath}}">Back</a></li>
        <li class="logout"><a th:href="@{/Logout}">Logout</a></li>
    </ul>
</body>
</html>