<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1">
	<title>TIW 119 - Login page</title>
	<link rel="stylesheet" type="text/css" href="../css/Global.css" th:href="@{/css/Global.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/Login.css" th:href="@{/css/Login.css}"/>
</head>
<body>
	<div class="all">
		<h1>TIW 119 Project 4</h1>
	
		<div class="error" th:if="${generalError != null}" th:text=" ${generalError}">
			Errore
		</div>
		<div class="form-container">
			<h2>Login</h2>

			<form action="#" th:action="@{/CheckLogin}" method="POST">
				<label for="username">Username</label>
				<input type="text" name="username" required> <br>
				<label for="password">Password</label>
				<input type="password" name="password" required> <br>
				<input class="submit" type="submit" value="Login">
				<p class="error" th:if="${loginError != null}" th:text=" ${loginError}">Errore</p>
			</form>
		</div>
	
		<div class="form-container">
			<h2>Signup</h2>

			<form action="#" th:action="@{/CheckSignup}" method="POST">
				<table>
					<label for="username"> Username</label> 
					<input type="text" name="username" required> 
					<label for="email"> Email</label> 
					<input type="email" name="email" required> 
					<label for="password"> Password</label> 
					<input type="password" name="password" required>
					<label for="repeatPassword">Repeat Password</label> 
					<input type="password" name="repeatPassword" required>
					<label for="name">Name</label> 
					<input type="text" name="name" required>
					<label for="surname">Surname</label> 
					<input type="text" name="surname" required>
					<input class="submit" type="submit" value="Signup">
					<p class="error" th:if="${signupError != null}" th:text=" ${signupError}">Errore</p>
				</table>
			</form>
		</div>
	</div>

</body>
</html>